/*
!.gitignore

!etc
etc/*

!etc/ssh
etc/ssh/*
!etc/ssh/sshd_config

!etc/X11/
etc/X11/*
!etc/X11/xorg.conf
!etc/X11/nvidia-xorg.conf

!etc/libvirt
etc/libvirt/*
!etc/libvirt/qemu
!etc/libvirt/qemu.conf

