/*

*.pacnew

!.gitignore
!root
root/*
!root/.gitconfig

!etc
etc/*

!etc/ssh
etc/ssh/*
!etc/ssh/sshd_config

!etc/X11/
etc/X11/*
!etc/X11/xorg.conf
!etc/X11/nvidia-xorg.conf

!etc/libvirt
etc/libvirt/*
!etc/libvirt/qemu
!etc/libvirt/qemu.conf

!etc/pacman.conf

!etc/pulse
etc/pulse/*
!etc/pulse/daemon.conf

!etc/polkit-1

!etc/samba
etc/samba/*
!etc/samba/smb.conf

!etc/systemd
etc/systemd/*
!etc/systemd/system
etc/systemd/system/*
!etc/systemd/system/hdparm.service
!etc/systemd/system/start.service
!etc/systemd/system/systemd-nspawn@.service.d

!etc/modprobe.d
!etc/fstab
!etc/sudoers

!boot
boot/*
!boot/loader
